In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
dataset = pd.read_csv('Social_Network_Ads.csv')

In [3]:
dataset.shape

(400, 5)

In [4]:
X = dataset[['Age','EstimatedSalary']]
y = dataset['Purchased']

In [5]:
X

     Age  EstimatedSalary
0     19            19000
1     35            20000
2     26            43000
3     27            57000
4     19            76000
..   ...              ...
395   46            41000
396   51            23000
397   50            20000
398   36            33000
399   49            36000

[400 rows x 2 columns]

In [6]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [7]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train=sc.fit_transform(X_train)
X_test=sc.transform(X_test)

In [8]:
from sklearn.linear_model import LogisticRegression

In [9]:
model=LogisticRegression(random_state=0)
model.fit(X_train,y_train)
predictions=model.predict(X_test)

In [10]:
from sklearn.metrics import confusion_matrix,classification_report,accuracy_score

In [11]:
print('Confusion Matrix - \n',confusion_matrix(y_test,predictions))
print('\n')
print('Classification Report - \n',classification_report(y_test,predictions))
print('\n')
print('Accuracy Of Our Model -',accuracy_score(y_test,predictions))

Confusion Matrix -
 [[57  1]
 [ 5 17]]


Classification Report -
               precision    recall  f1-score   support

           0       0.92      0.98      0.95        58
           1       0.94      0.77      0.85        22

    accuracy                           0.93        80
   macro avg       0.93      0.88      0.90        80
weighted avg       0.93      0.93      0.92        80



Accuracy Of Our Model - 0.925

## K

In [18]:
from sklearn.neighbors import KNeighborsClassifier

In [19]:
knn_model=KNeighborsClassifier(n_neighbors=5)

In [20]:
knn_model.fit(X_train,y_train)

KNeighborsClassifier()

In [21]:
knn_predictions=knn_model.predict(X_test)

In [22]:
print('Confusion Matrix - \n',confusion_matrix(y_test,knn_predictions))
print('\n')
print('Classification Report - \n',classification_report(y_test,knn_predictions))
print('\n')
print('Accuracy Of Our Model -',accuracy_score(y_test,knn_predictions))

Confusion Matrix -
 [[55  3]
 [ 1 21]]


Classification Report -
               precision    recall  f1-score   support

           0       0.98      0.95      0.96        58
           1       0.88      0.95      0.91        22

    accuracy                           0.95        80
   macro avg       0.93      0.95      0.94        80
weighted avg       0.95      0.95      0.95        80



Accuracy Of Our Model - 0.95